<ion-toolbar class="nav">
  <ion-buttons slot="start">
    <ion-button>
     <img src="./assets/icon/dtiga.svg" width="20" height="20" />
    </ion-button>
  </ion-buttons>

  <ion-title>
    <ion-icon name="logo-twitter" color="primary" sizes="large"></ion-icon>
  </ion-title>

  <ion-buttons slot="end">
    <ion-button (click)="onClick()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button (click)="onClick()">
     <img src="./assets/icon/icons.png" style="height:20px; width: 20px;;" alt="">
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button (click)="onClick()">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  

</ion-toolbar>