<ion-toolbar class="nav">
  <ion-buttons slot="start">
    <ion-button>
     <img src="./assets/icon/dtiga.svg" width="20" height="20" />
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button (click)="onClick()">
      <ion-icon name="search-outline" width="20" height="20"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button (click)="onClick()">
     <img src="../../../assets/icon/tabs/map.png" alt="" width="20" height="20" />
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
      <!-- <ion-badge color="primary">11</ion-badge> -->
    <ion-button (click)="onClick()">
      <img src="../../../assets/icon/tabs/chat.png" alt="" width="20" height="20" />
    </ion-button>
  </ion-buttons>

  

</ion-toolbar>