<ion-header>
  <ion-toolbar>
    <ion-router-link href="/">
      <div class="ion-padding" style="font-weight: bold;">
        <img src="../../../assets/icon/tabs/back.png" width="16" height="16"
          alt="">
      </div>
    </ion-router-link>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/images/banner1.jpg">
    </ion-avatar>
    <ion-label>
      <h3>John Doe</h3>
      <p>Dec 10, 2019</p>
    </ion-label>
  </ion-item>
  <img src="../../../assets/images/banner1.jpg" alt="ion">
  <ion-card-content>
   <ion-list>
      <ion-item>
        <ion-title>
          Nama Barang : Jam Tangan
        </ion-title>
      </ion-item>
      <ion-item>
        <ion-title>
          Harga Beli : Jam Tangan
        </ion-title>
      </ion-item>
      <ion-item>
        <ion-title>
          Harga Jual : Jam Tangan
        </ion-title>
      </ion-item>
      <ion-item>
        <ion-title>
          Lokasi : Jam Tangan
        </ion-title>
      </ion-item>
      <ion-item>
        <ion-title>
          Deskripsi : Jam Tangan
        </ion-title>
      </ion-item>
   </ion-list>
  </ion-card-content>
  <ion-footer>
    <ion-toolbar>
      <ion-router-link href="./pesan">
        <ion-button style="width: 100%; height:30px; background-color:gray;">
          <label for="Hubungi">Hubungi</label>
        </ion-button>
      </ion-router-link>
    </ion-toolbar>
  </ion-footer>

</ion-content>