<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <h1>product</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <h1>Logo</h1>
            </ion-col>
            <ion-col>
              <ion-card-title>
                <h1>product</h1>
              </ion-card-title>
              <ion-card-subtitle>
                <h2>productprice</h2>
              </ion-card-subtitle>
              <ion-card-subtitle>
                <h2>productdescription</h2>
              </ion-card-subtitle>
              <ion-card-subtitle>
                <h2>productcategory</h2>
              </ion-card-subtitle>
              <ion-card-subtitle>
                <h2>productstock</h2>
              </ion-card-subtitle>
              <ion-card-subtitle>
                <h2>productrating</h2>
              </ion-card-subtitle>
              <ion-card-subtitle>
                <h2>productreview</h2>
              </ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <img src="" alt="">
    </ion-col>
  </ion-row>
</ion-grid>
