<ion-row>
  <ion-col>
    <ion-router-link href="/productsdetail">
      <ion-card>
        <img src="../../../assets/images/banner1.jpg" />
        <ion-card-header>
         <img src="../../../assets/icon/tabs/like.png" width="15" height="15" alt="">
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-router-link>    
  </ion-col>
  <ion-col>
    <ion-router-link >
      <ion-card>
        <img src="../../../assets/images/banner1.jpg" />
        <ion-card-header>
         <img src="../../../assets/icon/tabs/like.png" width="15" height="15" alt="">
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-router-link>
  </ion-col>
  <ion-col>
    <ion-router-link>
      <ion-card>
        <img src="../../../assets/images/banner1.jpg" />
        <ion-card-header>
         <img src="../../../assets/icon/tabs/like.png" width="15" height="15" alt="">
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-router-link>
  </ion-col>
  <ion-col>
    <ion-router-link>
      <ion-card>
        <img src="../../../assets/images/banner1.jpg" />
        <ion-card-header>
         <img src="../../../assets/icon/tabs/like.png" width="15" height="15" alt="">
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-router-link>
  </ion-col>
  <ion-col>
    <ion-router-link>
      <ion-card>
        <img src="../../../assets/images/banner1.jpg" />
        <ion-card-header>
         <img src="../../../assets/icon/tabs/like.png" width="15" height="15" alt="">
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-router-link>
  </ion-col>
  <ion-col>
    <ion-router-link>
      <ion-card>
        <img src="../../../assets/images/banner1.jpg" />
        <ion-card-header>
         <img src="../../../assets/icon/tabs/like.png" width="15" height="15" alt="">
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-router-link>
  </ion-col>
</ion-row>
