<ion-header>
  <ion-toolbar>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
 <form>
   <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="logininterface.email"></ion-input>
   </ion-item>
    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="logininterface.password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="login()" type="submit" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
 </form>
</ion-content>
